meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
link(rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon")
link(rel="icon" href="assets/img/favicon.ico" type="image/x-icon")
link(rel="stylesheet" type="text/css" href="assets/css/main_1.0.css")
