svg(version="1.0", xmlns="http://www.w3.org/2000/svg",
width="215.000000pt", class="m_svg--logo", height="300.000000pt", viewBox="0 0 215.000000 300.000000",
preserveAspectRatio="xMidYMid meet")
  g(transform="translate(0.000000,300.000000) scale(0.100000,-0.100000)",
  fill="#000000", stroke="none")
    path(d="M540 2515 l0 -375 108 0 107 0 -3 270 -3 270 541 0 540 0 0 -110 0 -110 105 0 105 0 0 215 0 215 -750 0 -750 0 0 -375z m1472 176 c2 -92 2 -176 0 -185 -3 -13 -17 -16 -77 -16 -86 0 -85 -1 -85 110 0 68 -3 81 -19 90 -26 13 -1060 14 -1081 0 -12 -8 -16 -52 -20 -262 l-5 -253 -55 -6 c-30 -3 -65 -3 -77 -1 l-22 4 -3 322 c-2 176 -2 331 0 343 l3 23 547 2 c301 2 624 2 719 0 l172 -3 3 -168z")
    path(d="M110 1818 l0 -213 107 2 107 2 -3 105 -3 106 434 0 433 0 0 -750 0 -750 -433 0 -434 0 4 105 3 105 -107 0 -108 0 0 -210 0 -210 645 0 645 0 -2 855 -3 855 108 0 107 0 0 105 0 105 -750 0 -750 0 0 -212z m1464 186 c13 -5 16 -21 16 -75 0 -83 -7 -89 -111 -88 -120 1 -109 92 -109 -871 0 -781 -1 -829 -17 -834 -24 -7 -1150 -7 -1186 0 l-27 6 2 181 3 182 57 3 c89 5 98 -4 98 -96 0 -42 4 -83 9 -90 15 -25 75 -28 469 -26 361 1 394 3 412 19 20 18 20 36 20 755 0 698 -1 738 -18 753 -16 14 -53 17 -288 18 -433 2 -568 -1 -584 -11 -11 -7 -16 -35 -20 -102 l-5 -93 -75 0 -75 0 -3 179 c-2 137 1 181 10 187 15 10 1398 12 1422 3z")
    path(d="M1720 1925 l0 -105 55 0 55 0 0 105 0 105 -55 0 -55 0 0 -105z m70 0 c0 -68 -2 -75 -20 -75 -18 0 -20 7 -20 75 0 68 2 75 20 75 18 0 20 -7 20 -75z")
    path(d="M540 1335 l0 -375 268 0 267 0 0 111 0 110 -163 -3 -162 -3 0 268 0 267 -105 0 -105 0 0 -375z m170 345 c19 -10 20 -20 20 -254 0 -221 2 -244 18 -259 14 -13 45 -17 157 -19 l140 -3 0 -75 0 -75 -237 -3 -237 -2 -3 52 c-2 29 -2 184 0 345 3 326 -5 296 79 301 24 2 52 -2 63 -8z")
    path(d="M1830 1283 l0 -108 -159 3 -160 3 -3 -106 c-2 -59 -1 -109 1 -111 2 -2 123 -4 268 -4 l263 0 0 215 0 215 -105 0 -105 0 0 -107z m163 81 c15 -5 17 -23 17 -190 l0 -184 -237 2 -238 3 -3 54 c-6 105 -11 101 141 101 175 0 177 1 177 115 0 69 3 86 17 94 19 10 97 13 126 5z")
