extends ./base.pug

block base_content

  section(class="m_panel")
    div(class="container")
      div(class="row")
        div(class="col-sm-10 push-1 m_panel--admin")
          div(class="row")
            block admin_panel
