extends ../admin_panel.pug

block admin_panel

  div(class="col-sm-6 m_panel--admin-left")
    include ../includes/svg.pug
  div(class="col-sm-6 m_panel--admin-right")
    form(id="", method="post", action="")
      div= error
      div(class="form-group")
        label(for="login", class="m_label--upcase") Login
        input(id="login", class="m_input--nobg", type="text", name="login", placeholder="Podaj login")
      div(class="form-group")
        label(for="password", class="m_label--upcase") Hasło
        input(id="password", class="m_input--nobg", type="password", name="password", placeholder="Podaj hasło")
      input(class="m_btn--submit form-control" type="submit", value="Zaloguj się")
