.m_btn{
  &--submit{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #59ccbe;
    color: #ffffff;
    border-radius: 20px;
    width: 120px;
    font-size: 14px;
    box-shadow: 0 0 15px #121e2d;
    margin-top: 30px;

    &:hover{
      cursor: pointer;
    }
  }
}
