.m_panel{

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: {
    image: url('../img/panel_admin_bg.jpeg');
    repeat: no-repeat;
    size: cover;
  }

  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.5);
  }

  &--admin{

    border-radius: 10px;

    &-right{
      padding: 200px 50px;
      background-color: #34455c;
      border-radius: 0 7px 7px 0;
    }

    &-left{
      padding: 200px 50px;
      background-color: rgba(105, 219, 199, 0.7);
      border-radius: 7px 0 0 7px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
