.m_svg{
  &--logo{
    position: absolute;
    max-width: 200px;

    &:hover{
      g{
        fill: #555555;
      }

      path:nth-child(2){
        transform: translateX(100px);
      }
    }

    g{
      transition: all .5s ease;
      fill: #ffffff;
    }

    path{
      transition: all .3s ease;
    }

    path:nth-of-type(1), path:nth-of-type(3), path:nth-of-type(4), path:nth-of-type(5){
      fill: #555555;
    }
  }
}
